{% extends "shop/base.html" %}
{% load widget_tweaks %}
{% block title %}
  Payment
{% endblock %}

{% block content %}
<div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a><span class="mx-2 mb-0">/</span> <strong class="text-black">Payment</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h4 class="display-3 text-black">Make Payment</h4>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                     data-key="{{ key }}"
                     data-description="A Django Charge"
                     data-amount="500"
                     data-locale="auto">
                 </script>


            </div>
          </div>
        </div>
      </div>

{% endblock %}