{% extends "shop/base.html" %}
{% load static %}
{% block title %}
  The Shoppee | About Us
{% endblock %}
{% block content %}
<div class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-0"><a href="/">Home</a><span class="mx-2 mb-0">/</span> <strong class="text-black">About Us</strong></div>
        </div>
          </div>
        </div>
    </div>  
<div class="site-section border-bottom aos-init aos-animate" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
              <figure>
                <img src="{% static  "images/WhatsApp Image 2020-09-07 at 12.55.17 AM.jpeg"%}" alt="Image placeholder" class="img-fluid rounded">

              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            
            
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">ABOUT 24*7 Essential</h2>
            </div>
            <p>
              <strong>The main agenda of this website is to provide the user the ease to availability of goods from local market and creating an online interface for the shopkeepers where they can maintain the products, ensure safe and timely delivery to the user.
              This website is designed for those people who are involved in our market as medium scale shopkeepers and wish to digitize their business in these tough times of pandemic. This site ensures safe and managed delivery of essential goods to the customers, and this point of customer satisfaction is differentiating this site from other e-commerce websites.
              </strong>
            </p>

          </div>
        </div>
      </div>
    </div>
<div class="site-section border-bottom aos-init aos-animate" data-aos="fade">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>The Team</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">

            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static  "images/WhatsApp Image 2020-08-28 at 5.48.59 PM.jpeg"%}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Nishtha Gupta</h3>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">

            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static  "images/WhatsApp Image 2020-06-29 at 11.15.20 PM (2).jpeg"%}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Arihant Jain</h3>
                </div>
              </div>
            </div>
          </div>
        <div class="col-md-4">

            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static  "images/WhatsApp Image 2020-08-28 at 5.53.23 PM.jpeg"%}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Rahul Jain</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="site-section site-section-sm site-blocks-1 border-0 aos-init aos-animate" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
            <div class="icon mr-4 align-self-start">
              <span class="icon-truck"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Free Shipping</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="icon mr-4 align-self-start">
              <span class="icon-refresh2"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Free Returns</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="icon mr-4 align-self-start">
              <span class="icon-help"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Customer Support</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}