{% extends "shop/base.html" %}
{% load widget_tweaks %}

{% block title %}
  The Shoppee | Contact
{% endblock %}

{% block content %}
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<div class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Contact</strong></div>
          </div>
        </div>
      </div>

<div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="h3 mb-3 text-black">Get In Touch</h2>
          </div>
          <div class="col-md-7">

            <form action="#" method="post">
              {% csrf_token %}

              <div class="p-3 p-lg-5 border">
                <div class="form-group row">
                  <div class="col-md-6">
                    <label class="text-black" for="c_fname">First Name <span class="text-danger">*</span></label>
                    {% render_field form.first_name class="form-control" id="c_fname" %}                  </div>
                  <div class="col-md-6">
                    <label class="text-black" for="c_lname">Last Name <span class="text-danger">*</span></label>
                    {% render_field form.last_name class="form-control" id="c_fname" %}
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="text-black" for="c_email">Email <span class="text-danger">*</span></label>
                    {% render_field form.from_email class="form-control" type="email" id="c_email_address" %}
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="text-black" for="c_subject">Subject </label>
                    {% render_field form.subject class="form-control" id="c_subject" %}

                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="text-black" for="c_message">Message </label>
                    {% render_field form.message class="form-control" id="c_message" rows="7" cols="30" %}
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-12">
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Send Message">
                  </div>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>


  
{% endblock %}