{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<div class="site-section site-section-sm site-blocks-1">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <a href="{% url "shop:product_list" %}" >
        <div class="carousel-inner">
          <div class="carousel-item active">
              
            <img class="d-block w-100" src="static/images/groc.webp" alt="First slide">
          
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="static/images/covid.webp" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="static/images/medicals.webp" alt="Third slide">
          </div>
        </div>
        </a>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
    <h3 class="home-main-heading text-uppercase text-center main-headings mobile-headings pt-5 pb-5">Essentials</h3>
    <div class="card-deck mb-4 pl-5 pr-5 ">
        
        <div class="card">
          <a href="{% url "shop:product_list" %}" >
          <img class="card-img-top" src="static/images/handwash.gif" alt="Card image cap">
          </a>
          <div class="card-body">
            <h5 class="card-title">Hand Sanitizer</h5>
          </div>
        </div>
        <div class="card">
          <a href="{% url "shop:product_list" %}" >
          <img class="card-img-top" src="static/images/masks.gif" alt="Card image cap">
          </a>
          <div class="card-body">
            <h5 class="card-title">Exclusive Mask</h5>
          </div>
        </div>
        
      </div>
 

  
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
          <div class="icon mr-4 align-self-start">
            <span class="icon-truck"></span>
          </div>
          <div class="text">
            <h2 class="text-uppercase">Free Shipping</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
          <div class="icon mr-4 align-self-start">
            <span class="icon-refresh2"></span>
          </div>
          <div class="text">
            <h2 class="text-uppercase">Free Returns</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <div class="icon mr-4 align-self-start">
            <span class="icon-help"></span>
          </div>
          <div class="text">
            <h2 class="text-uppercase">Customer Support</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  

{% endblock %}