
{% extends "shop/base.html" %}
{% load widget_tweaks %}
{% block title %}
  Checkout
{% endblock %}

{% block content %}
<div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <a href="{% url "cart:cart_detail" %}">Cart</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Checkout</strong></div>
        </div>
      </div>
    </div>

  <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h2 class="h3 mb-3 text-black">Billing Details</h2>
            <div class="p-3 p-lg-5 border">
              <form action="." method="post" class="order-form">
              <div class="form-group">
                
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="c_fname" class="text-black">First Name <span class="text-danger">*</span></label>
                  
                  {% render_field form.first_name class="form-control" id="c_fname" %}
                  
                </div>
                <div class="col-md-6">
                  <label for="c_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                  {% render_field form.last_name class="form-control" id="c_fname" %}
                </div>
              </div>


              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_address" class="text-black">Address <span class="text-danger">*</span></label>
                  
                  {% render_field form.address class="form-control" id="c_address" placeholder="Street address" %}
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="c_state_country" class="text-black">Area <span class="text-danger">*</span></label>
                  {% render_field form.city class="form-control" id="c_state_country" %}
                </div>
                <div class="col-md-6">
                  <label for="c_postal_zip" class="text-black">Postal / Zip <span class="text-danger">*</span></label>
                  {% render_field form.postal_code class="form-control" id="c_postal_zip" %}
                </div>
              </div>

              <div class="form-group row mb-5">
                <div class="col-md-6">
                  <label for="c_email_address" class="text-black">Email Address <span class="text-danger">*</span></label>
                  {% render_field form.email class="form-control" id="c_email_address" %}
                </div>
                  <div class="col-md-6">
                  <label for="c_time_slot" class="text-black">Time Slot <span class="text-danger">*</span></label>
                  {% render_field form.time_slot class="form-control" id="c_time_slot" %}
                </div>
              </div>

                <p><input type="submit"   class="btn btn-primary btn-sm btn-block" value="Confirm Order"></p>
                {% csrf_token %}
              </form>
            </div>
          </div>
          <div class="col-md-6">

            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Coupon Code</h2>
                <div class="p-3 p-lg-5 border">
                  
                  <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>
                  <div class="input-group w-75">
                    <input type="text" class="form-control" id="c_code" placeholder="Coupon Code" aria-label="Coupon Code" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary btn-sm ml-3" type="button" id="button-addon2">Apply</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            
            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Your Order</h2>
                <div class="p-3 p-lg-5 border">
                  <table class="table site-block-order-table mb-5">
                  
                    <thead>
                      <tr><th>Product</th>
                      <th>Total</th>
                    </tr></thead>
                    <tbody>
                      {% for item in cart %}
                      <tr>
                        <td>{{ item.product.name }}<strong class="mx-2">x</strong> {{ item.quantity }}</td>
                        <td>Rs. {{ item.total_price }}</td>
                      </tr>
                      {% endfor %}
                      
                      <tr>
                        <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                        <td class="text-black font-weight-bold"><strong>Rs. {{ cart.get_total_price }}</strong></td>
                      </tr>
                    </tbody>
                    
                  </table>

                  
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>


  
{% endblock %}