{% extends "shop/base.html" %}
{% block content %}
<div class="container">
   <div class="row mb-5">
          <div class="col-md-12">
              <div class="p-3 p-lg-5 border">

                <table class="table site-block-order-table mb-5">
                    <thead>
                      <tr>
                        <th class="product-name">Product</th>
                        <th class="product-price">Warehouse</th>
                        <th class="product-quantity">Zone</th>
                        {% comment %} <th class="product-total">Total</th> {% endcomment %}
                      </tr>
                    </thead>
                    <tbody>
                     {% for key, value in waredis.items %}
                      <tr>
                        <td class="product-name"> <h3 class="h5 text-black">{{ key}}</h3></td>
                        <td>
                            <h3 class="h5 text-black">
                                  {% if value %}
                                    {{ value.location }}
                                  {% else %}
                                    Sorry this item is currently unavailable
                                  {% endif %}
                            </h3>
                        </td>
                        <td>
                                 <h3 class="h5" >
                                     {% if value.zone == 'ORANGE ZONE' %}
                                         <div style="color:orange;">
                                           {{ value.zone }}
                                         </div>
                                     {% endif %}
                                     {% if value.zone == 'RED ZONE' %}
                                         <div style="color:red;">
                                           {{ value.zone }}
                                         </div>
                                     {% endif %}
                                     {% if value.zone == 'GREEN ZONE' %}
                                         <div style="color:green;">
                                           {{ value.zone }}
                                         </div>
                                     {% endif %}
                                 </h3>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
                {% if extra %}
                 <p style="color:red;">You will have to pay extra charge of Rs 50 for delivery according to your time</p>
                  <p style="color:red;">Your total money is <span style="color:black;">{{ user_order.total_price }}+50 = {{user_order.total_price|add:"50"}}</span></p>
              {% else %}
                  <p style="color:green;">You don't need to pay extra</p>
              {% endif %}

        </div>

         <div class="container">
            <div class="row">
          <div class="col-3 ">
              <a href="{% url 'shop:product_list' %}" ><button  class="btn btn-primary btn-sm btn-block mt-3">Continue Shopping</button></a>
          </div>
          <div class="col-3">
           <a href="{% url 'payment:Payment' %}" ><button  class="btn btn-outline-primary btn-sm btn-block">Continue Payment</button></a>
       </div>
        </div>
         </div>
        </div>
      </div>

{% endblock %}