{% extends "shop/base.html" %}
{% block content %}
<div class="container">
<h4 style="color:hsl(120, 100%, 25%);text-align:center;font-weight: 600;padding-bottom: 20px;">Paid Orders Summary</h4>
<table class="table" style="border: 1px solid green;">
  <thead style="background-color:hsl(120, 100%, 25%)">
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Delivery Area</th>
      <th scope="col">Delivered</th>
    </tr>
  </thead>
  <tbody>
  {% for itm in items %}
   {% if itm.order.paid %}
    {% with uorder=itm.product %}
    <tr >
      <td>{{ uorder.name}}</td>
      <td>{{ itm.quantity}}</td>
      <td>{{ itm.order.city}}</td>
      <td>   </td>
    </tr>
    {% endwith %}
   {% endif %}
  {% endfor %}
  </tbody>
</table>
<h4 style="color:red;text-align:center;font-weight: 600;padding-bottom: 20px;">Unpaid Orders</h4>
<table class="table" style="border: 1px solid red;">
  <thead style="background-color:red">
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Delivery Area</th>
      <th scope="col">Cancelled</th>
    </tr>
  </thead>
  <tbody>
  {% for itm in items %}
   {% if itm.order.paid == False%}
    {% with uorder=itm.product %}
    <tr>
      <td>{{ uorder.name}}</td>
      <td>{{ itm.quantity}}</td>
      <td>{{ itm.order.city}}</td>
      <td> </td>
    </tr>
    {% endwith %}
   {% endif %}
  {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}